<h1>Edit a photo</h1>

<form action="http://localhost:3000/update_photo">
  <div>
    <label for="photo_id">ID:</label>
    <input id="photo_id" type="text" name="the_id">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" name="the_source">
  </div>
  <div>
    <input type="submit" value="Create photo">
  </div>
</form>
